
.main__nav ul {
   background-color:#aaa;
   display: flex;
   border-radius: 8px;
}

.main__nav li {
   font-family: arial;
   font-weight: bold;
   padding: 5px;
   list-style-type: none;
   text-transform: uppercase;
}

.main__nav a  {
   font-size: 1.2rem;
   color: black;
   text-decoration: none;
}

.main__nav a.active {
   border-bottom:1px solid  black;
}