.main {
   flex-basis: 60vh;
   &__page {

      & h1 {
         text-align: center;
         padding: 10px;
      }
      &__text, &__li {
         font-size: 1.2rem;
         margin: 10px 0px;
         line-height: 2;
      }


      &__button {
         padding: 5px;
         position: relative;
         left: 90px;
         margin: 20px 0;
      }
      // bootstrap ----
      .btn-dark {
         margin: 10px 10px 10px 60%;
         text-transform: uppercase;
      }
      // ----
      
      &__backBtn {
         position: relative;
         left: 70%;
         display: block;
         width: 20%;
         text-align: center;
         text-transform: uppercase;
         text-decoration: none;
         font-weight: bold;
         border: black 1px solid;
         border-radius: 8px;
         padding: 5px;
         margin: 10px;
         color: white;
         background-color:#343a40;
      }

      &__home {
         font-size: 1.2rem;
         text-align: center;
      }

      &__title {
         font-size: 1.5rem;
         text-align: center;
         text-transform: uppercase;
         margin: 5px;
      }

      &__h2, &__h3 {
         font-size: 1.4rem;
         text-transform: uppercase;
         font-weight: bold;
         margin: 3px;
      }

      &__contact {
         font-size: 1.4rem;
         border-radius: 8px;
         margin: 10px;
         padding: 20px;
         display: flex;
         flex-wrap: wrap;
         justify-content: center;
         background-color: lightgray;
         align-items: center;
         & p {
            flex-basis: 40%;
            text-align: center;
            line-height: 2;
         }
         & form {
            text-align: center;
            flex-grow: 1;
            & div {
               margin: 10px;
            }

            & .btn-dark {
               margin: 5px;
            }
         }

      }

      &__offer,&__downloads {
         max-width: 800px;
          margin: 0 auto;

            & li {
             display: block;
              margin: 10px;
              padding: 5px;
              border-radius: 8px;
              box-shadow: 20px 20px 20px black;
              text-align: center;
             font-weight: 700;
             background-color: lightgrey;
             text-decoration: none;
              list-style-type: none;
               text-transform: uppercase;
                   @media (min-width: 1023px) { margin: 30px; }
                   & a {
                     color: black;
                        font-size: 1.5rem;
                      }
                     }
                  }
   }
}