.main {
   flex-basis: 60vh;
   &__page {
      & p {
         font-size: 12px;
      }
      &__button {
         padding: 5px;
         position: relative;
         left: 90px;
         margin: 20px 0;
      }

      &__home {
         font-size: 1.2rem;
         text-align: center;
      }

      &__title {
         font-size: 1.4rem;
         text-align: center;
         text-transform: uppercase;
         margin: 5px;
      }

      &__text {
         font-size: 1.2rem;
      }

      &__li a, &__downloads a {
         display: block;
         width: 80%;
         text-align: center;
         font-size: 1.2rem;
         line-height: 20px;
         border-bottom: 1px solid black;
         text-decoration: none;
         list-style-type: none;
         text-transform: uppercase;
         color: black;
         margin: 8px;
         font-weight: bold;
      }

      &__contact {
         display: block;
         text-align: center;
         background-color: lightgray;

         & div {
            margin: 10px;
         }
      }
}
}

.backBtn {
   display: inline-block;
   border: solid 1px black;
   padding: 5px 10px;
   color: black;
   margin: 10px;
   background-color: #bbb;
   text-transform: uppercase;
   text-decoration: none;

}

.offerWrapper {
   text-align: center;
}